footer {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 18px;
    color: #2e7d32;
}
